body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #63ec85;
}
.wrapper {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
  top:0;
}
.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  bacground-color: rgb(1, 143, 96);
}
.cat{
  position: absolute;
  left: 100px;
  height: 30px;
  width: 60px;
  transition: 1.5s;
  transform-origin: center;
  background-color: transparent;
}
.body {
  position: absolute;
  height: 30px;
  width: 60px;
}
.cat_head {
  position: absolute;
  height: 40px;
  width: 48px;
  right: -10px;
  top: -30px;
  transition: 0.5s;
  z-index: 50;
}
.tail {
  position: absolute;
  top: -25px;
  height: 36px;
  width: 15px;
  animation: tail_motion fowards 2s;
  transform-origin: bottom right;
}
.leg {
  position: absolute;
  height: 20px;
  width: 10px;
  transform-origin: top center;
}
polygon.eyes {
  fill: rgb(1, 143, 96);
}
polygon,
path{
  fill: white;
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
